<ul class="breadcrumb">
  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
  <li class="active">Ingresa tus datos</li>
</ul>

<h1>Ingresa tus datos</h1>

<%= form_tag("", :method=>'post') do %>
	<%= hidden_field_tag(:user_id, @user.id) %>
	<%= hidden_field_tag(:hashed_id, @hashed_id) %>
	<div class="field">
		<%= label_tag(:email, "Correo electronico: #{@user.email}") %>
	</div>
	<div class="field">
		<%= label_tag(:name, "Nombre:") %>
		<%= text_field_tag(:name, @user.name, :required => true) %>
	</div>
	<div class="field">
		<%= label_tag(:lastname, "Apellido:") %>
		<%= text_field_tag(:lastname, @user.lastname, :required => true) %>
	</div>
	<div class="field">
		<%= label_tag(:password, "Contraseña:") %>
		<%= password_field_tag(:password, nil, :required => true) %>
	</div>
	<div class="field">
		<%= label_tag(:password_confirmation, "Confirmacion contraseña:") %>
		<%= password_field_tag(:password_confirmation, nil, :required => true) %>
	</div>
	<%= submit_tag("Actualizar datos") %>
<% end %>
