<div class="form_centered">
	<h2>Cambio de contraseña</h2>
	<%= form_tag(change_password_post_path, :method => 'post') do %>
		<div class="field">
			<%= label_tag(:email_label, "Contraseña Actual:") %>
			<%= password_field_tag(:old_password, nil, :required => true) %>
		</div>
		<br />
		<div class="field">
			<%= label_tag(:email_label, "Nueva Contraseña:") %>
			<%= password_field_tag(:new_password, nil, :required => true) %>
		</div>
		<br />
		<div class="field">
			<%= label_tag(:email_label, "Confirmación nueva Contraseña:") %>
			<%= password_field_tag(:new_password_confirmation, nil, :required => true) %>
		</div>
		<%= submit_tag("Cambiar contraseña") %>
	<% end %>
	<%= link_to "Cancelar", "/profile/#{session[:user_id]}" %>
</div>