<% if (User.find(session[:user_id]).admin) %>
	<ul class="breadcrumb">
	  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
	  <li><a href=<%= users_path %>>Usuarios</a> <span class="divider">/</span></li>
	  <li class="active">Editando a <%= @user.name %> <%= @user.lastname %> (<%= @user.email %>)</li>
	</ul>
<% else %>
	<ul class="breadcrumb">
	  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
	  <li><%= link_to "Mi Perfil", "/profile/#{session[:user_id]}" %><span class="divider">/</span></li>
	  <li class="active">Editando a <%= @user.name %> <%= @user.lastname %> (<%= @user.email %>)</li>

	  </li>
	</ul>
<% end %>

<div class="form_centered_mid">
	<h1>Editando datos usuario <%= @user.email %></h1>
	<br />
	<br />
	<%= form_tag(@user, :method=>'put') do %>
		<%= hidden_field_tag(:user_id, @user.id) %>
		<%= hidden_field_tag(:hashed_id, @hashed_id) %>
		<div class="field">
			<%= label_tag(:name, "Nombre:") %>
			<%= text_field_tag(:name, @user.name, :required => true) %>
		</div>
		<br />
		<div class="field">
			<%= label_tag(:lastname, "Apellido:") %>
			<%= text_field_tag(:lastname, @user.lastname, :required => true) %>
		</div>
		<br />
		<% if (User.find(session[:user_id]).admin and session[:user_id] != @user.id) %>
			<div class="field">
				<%= label_tag(:admin, "Administrador:") %>
				<%= check_box_tag(:admin, "on", @user.admin) %>
			</div>
		<% end %>
		<%= submit_tag("Actualizar datos", :class => "btn btn-inverse") %>
	<% end %>
</div>