<h1>Editando datos usuario <%= @user.email %></h1>

<%= form_tag(users_path, :method=>'put') do %>
	<%= hidden_field_tag(:user_id, @user.id) %>
	<%= hidden_field_tag(:hashed_id, @hashed_id) %>
	<div class="field">
		<%= label_tag(:name, "Nombre:") %>
		<%= text_field_tag(:name, @user.name, :required => true) %>
	</div>
	<div class="field">
		<%= label_tag(:lastname, "Apellido:") %>
		<%= text_field_tag(:lastname, @user.lastname, :required => true) %>
	</div>
	<%= submit_tag("Actualizar datos") %>
<% end %>
