<ul class="breadcrumb">
  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
  <li class="active">Usuarios</li>
</ul>

<h1>Usuarios</h1>

<a href="#new_user" data-toggle="modal">
    Crear nuevo usuario
</a>
<div id="new_user" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="ServiceModalLabel">Nuevo Usuario</h3>
    </div>
	<div class="modal-body">
		<br/>
		<%= form_tag(admin_create_path, :method=>'post') do %>
			<div class="field">
				<%= label_tag(:email, "Correo electronico:") %>
				<%= text_field_tag(:email, nil, :required => true) %>
			</div>
			<div class="field">
				<%= label_tag(:name , "Nombre") %>
				<%= text_field_tag(:name, nil, :required => true) %>
			</div>
			<div class="field">
				<%= label_tag(:lastname, "Apellido" )%>
				<%= text_field_tag(:lastname, nil, :required => true)%>
			</div>
			<div class="field">
				<%= label_tag :admin, "Administrador"%>
				<%= check_box_tag :admin %>
			</div>
			<div class="field">
				<%= label_tag :password, "Contraseña" %>
				<%= password_field_tag :password, nil, :required => true %>
			</div>
			<div class="field">
				<%= label_tag :password_confirmation, "Confirmación de Contraseña" %>
				<%= password_field_tag :password_confirmation, nil, :required => true %>
			</div>
			<div class="actions">
				<%= submit_tag "Crear cuenta", :class => "btn btn-inverse" %>
			</div>
		<% end %>
	</div>
</div>
</br>
<a href="#search_user" data-toggle="modal">
    Buscar Usuarios
</a>
<div id="search_user" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="ServiceModalLabel">Buscar Usuarios</h3>
    </div>
	<div class="modal-body">
		<%= form_tag("", :method => "get") do %>
			<div class="field">
				<%= label_tag :name, "Nombre:" %>
				<%= text_field_tag :name %>
			</div>
			<div class="field">
				<%= label_tag :lastname, "Apellido:" %>
				<%= text_field_tag :lastname %>
			</div>
			<div class="field">
				<%= label_tag :email, "Correo Electronico:" %>
				<%= text_field_tag :email %>
			</div>
			<div class="field">
				<%= label_tag :sufijo, "Sufijo email:" %>
				<%= text_field_tag :sufijo %>
			</div>
			<div class="field">
				<%= label_tag :date, "Fecha de inscripción:" %>
				<input type="date" id="date" name="date">
			</div>
			<div class="field">
				<%= label_tag :date_1_2, "Rango de fechas de inscripción:" %>
				<input type="date" id="date_1" name="date_1">
				<input type="date" id="date_2" name="date_2">
			</div>
			<div class="field">
				<%= label_tag :admin, "Solo Administradores:" %>
				<%= check_box_tag :admin %>
			</div>
			
			<%= submit_tag("Buscar usuario", :class => "btn btn-inverse") %>
			
		<% end %>
	</div>
</div>

<ul class="nav nav-tabs">
	<% if !params[:status] %>
		<li class ="active">
	<% else %>
		<li>
	<% end %>
		<a href = <%= url_for(users_path) %> >Ver todos</a>
    </li>
	<% if params[:status] == "active" %>
		<li class ="active">
	<% else %>
		<li>
	<% end %>
		<a href = "/users_index/active" %>Ver activos</a>
	</li>
	<% if params[:status] == "deleted" %>
		<li class ="active">
	<% else %>
		<li>
	<% end %>
		<a href = "/users_index/deleted" %>Ver eliminados</a>
	</li>
</ul>

<table class="footable">
	<thead>
		<tr>
			<th data-class="expand">Correo Electronico</th>
		    <th data-hide="phone">Nombre</th>
		    <th data-hide="phone">Apellido</th>
			<th data-hide="phone,tablet">Activado</th>
		    <th data-hide="phone">Activo</th>
		    <th data-hide="phone">Administrador</th>
		    <th data-hide="phone,tablet">Última Fecha de Conexión</th>
		    <th data-hide="phone,tablet">Último Servidor de Conexión</th>
		    <th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
	  		<tr>
			    <td><%= user.email %></td>
			    <td><%= user.name %></td>
			    <td><%= user.lastname %></td>
				<td>
					<% if user.active %>
						<i class="icon-ok"></i>
					<% else %>
						<i class="icon-remove"></i>
					<% end %>
				</td>
			    <td>
					<% if user.deleted == 0 %>
						<i class="icon-thumbs-up"></i>
					<% else %>
						<i class="icon-ban-circle"></i>
					<% end %>
				</td>
			    <td>
					<% if user.admin %>
						<i class="icon-ok"></i>
					<% else %>
						<i class="icon-remove"></i>
					<% end %>
				</td>
			    <td><%= user.last_login_date %></td>
			    <td><%= user.last_login_server %></td>
			    <td>
					<a href = <%= url_for(user) %> >
						<i class="icon-eye-open"></i>
					</a>
					<% if user.deleted == 0 %>
						<span>|</span>
						<a href = <%= url_for(edit_user_path(user)) %> >
							<i class="icon-pencil"></i>
						</a>
					<% end %>
					<% if user.deleted == 0 %>
						<span>|</span>
						<a href = <%= url_for(user) %> data-method="delete" class="delete_link">
							<i class="icon-trash"></i>
						</a>
					<% end %>
				</td>
	  		</tr>
		<% end %>
	</tbody>
</table>

<br />

<ul id="pagination" class="footable-nav"><span>Paginas:</span></ul>

<br />



<script type="text/javascript">
	$(function() {
		$('.footable').footable();
	});
  
	$(".delete_link").click(function(e){
		if(!confirm('¿Seguro que desea eliminar?'))
		{
			e.preventDefault();
			return false;
		}
	});
  
</script>