<div class="form_centered">
	<%= form_tag(recover_password_post_path, :method=>'post') do %>
		<h2>Ingrese su nueva contraseña</h2>
		<br>
		<div class="field">
			<%= label_tag(:password, "Contraseña:") %>
			<%= password_field_tag(:password, nil, :required => true) %>
		</div>
		<div class="field">
			<%= label_tag(:password_confirmation, "Confirmación de contraseña:") %>
			<%= password_field_tag(:password_confirmation, nil, :required => true) %>
		</div>
		
		<%= hidden_field_tag(:user_id, @user_id) %>
		<%= hidden_field_tag(:hashed_user_id, @hashed_user_id) %>
		
		<br>
		<%= submit_tag("Cambiar contraseña", :class => "btn btn-primary") %>
	<% end %>
	<br />
</div>