<p id="notice"><%= notice %></p>

<p>
  <b>Correo Electrónico:</b>
  <%= @user.email %>
</p>

<p>
  <b>Nombre:</b>
  <%= @user.name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Eliminado:</b>
	<% if @user.deleted == 0 %>
		No
	<% else %>
		Sí
	<% end %>
</p>

<p>
  <b>Administrador:</b>
	<% if @user.admin %>
		Sí
	<% else %>
		No
	<% end %>
</p>

<p>
  <b>Token de Sesión:</b>
  <%= @user.session_token %>
</p>

<p>
  <b>Última fecha de conexión:</b>
  <%= @user.last_login_date %>
</p>

<p>
  <b>Último servidor de conexión:</b>
  <%= @user.last_login_server %>
</p>

<%= link_to 'Ver perfil', "/profile/#{@user.id}" %>|
<%= link_to 'Usuarios', users_path %>
