<div class="form_centered">
	<%= form_tag(login_path, :method=>'post') do %>
		<h2>Por favor identifíquese</h2>
		<br>
		<%= link_to "", facebook_login_path, :class=>"facebook_button" %>
		<hr>
		<div class="field">
			<%= label_tag(:email_label, "Correo electrónico:") %>
			<%= text_field_tag(:email, nil, :required => true) %>
		</div>
		<br>
		<div class="field">
			<%= label_tag(:password, "Contraseña:") %>
			<%= password_field_tag(:password, nil, :required => true) %>
		</div>
		<%= submit_tag("Iniciar sesión", :class => "btn btn-primary") %>
	<% end %>
	<br />
	<%= link_to "Registrarse", new_user_path, :class => "btn btn-inverse" %>
	<br/>
	<br/>
	<%= link_to 'Recuperar contraseña', recover_path %>
</div>