<div class="form_centered">
	<%= form_tag(login_2_path, :method=>'post') do %>
		<h2>Por favor identifíquese</h2>
		<br>
		<%= link_to "", facebook_login_path, :class=>"facebook_button" %>
		<hr>
		<div class="field">
			<%= label_tag(:email_label, "Correo electrónico:") %>
			<%= text_field_tag(:email, nil, :required => true) %>
		</div>
		<br>
		<div class="field">
			<%= label_tag(:password, "Contraseña:") %>
			<%= password_field_tag(:password, nil, :required => true) %>
		</div>
		<br>
		<div class="field">
			<%= image_tag("http://captchator.com/captcha/image/#{@random}") %>
			<%= text_field_tag(:captcha, nil, :required => true)  %>
			<%= hidden_field_tag(:captcha_random, @random) %>
			<%= hidden_field_tag(:captcha_random_hash, @random_hash) %>
			<br>
		</div>
		<%= submit_tag("Iniciar sesión", :class => "btn btn-primary")%>
		<br />
		<br />
		<br />
		<%= link_to "Registrarse", new_user_path, :class => "btn btn-inverse" %>
	<% end %>
	<br/>
	<%= link_to 'Recuperar contraseña', recover_path %>
</div>