<div class="content_centered">
    <div class = "row-fluid">
        <%= form_for(@homework, :html => {:multipart => true}) do |f| %>
            <% if @homework.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@homework.errors.count, "error") %> impidió que este buzón se guardara:</h2>
                    <ul>
                        <% @homework.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            
            <div class="field">
                <label for="homework_name">Nombre del buzón:</label>
                <%= f.text_field :name, :class => "span12", :id => "tooltip1", "data-placement" => "bottom", :title => "Este nombre será mostrado a todos los invitados al buzón" %>
            </div>
            <br />
            <div class="field">
                <label for="homework_description">Descripción:</label>
                <%= f.text_area :description, :class => "span12", :id => "tooltip2", "data-placement" => "top", :title => "Si lo desea, puede incluir una descripción o enunciado para este buzón. Será mostrado a todos los invitados" %>
            </div>
            <br />
            <div class="field">
                <label for="homework_filename">Subir un archivo de Enunciado:</label>
                <%= file_field_tag 'file', :id => "tooltip3", "data-placement" => "right", :title => "Si lo prefiere, puede agregar un archivo de enunciado a este buzón" %>
            </div>
            <br />
            <div class="field">
                <label for="homework_active">¿Activo?</label>
                <%= f.check_box :active, :id => "tooltip4", "data-placement" => "right", :title => "Este campo indica si el buzón comenzará abierto a los invitados o no."%>
            </div>
            <br />
            <div class="field">
                <label for="homework_expires_at">Fecha de Entrega:</label>

                <% if @homework.expires_at %>
                    <% @date_value = @homework.expires_at.to_date.to_s + "T" %>
                    <% if @homework.expires_at.hour < 10 %>
                        <% @date_value = @date_value + "0" %>
                    <% end %>
                    
                    <% @date_value = @date_value + @homework.expires_at.hour.to_s + ":" %>
                    <% if @homework.expires_at.min < 10 %>
                        <% @date_value = @date_value + "0" %>
                    <% end %>
            
                    <% @date_value = @date_value + @homework.expires_at.min.to_s + ":" %>
                    <% if @homework.expires_at.sec < 10 %>
                        <% @date_value = @date_value + "0" %>
                    <% end %>
            
                    <% @date_value = @date_value + @homework.expires_at.sec.to_s %>
                    <input type="datetime-local" name="homework[expires_at]" value = "<%= @date_value.to_s %>" required id = "tooltip5" data-placement = "right" title = "Seleccione una fecha y hora de entrega para este buzón. La hora está en formato AM/PM.">
                
                <% else %>
                    <input type="datetime-local" name="homework[expires_at]" required id = "tooltip5" data-placement = "right" title = "Seleccione una fecha y hora de entrega para este buzón. La hora está en formato AM/PM.">
                
                <% end%>
            </div>
            
            <div class="actions">
                <%= f.submit "Guardar Buzón de Tareas", :class => "btn btn-inverse"%>
            </div>
        
        <% end %>
    </div>
</div>

<script>
    $(function () {
        $('#tooltip1').tooltip();
        $('#tooltip2').tooltip();
        $('#tooltip3').tooltip();
        $('#tooltip4').tooltip();
        $('#tooltip5').tooltip();
    });
</script>