<ul class="breadcrumb">
  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
  <li><a href=<%= url_for(@homework) %>>Buz贸n <%= @homework.name %></a> <span class="divider">/</span></li>
  <li class="active">Viendo los archivos del usuario <%= @user.name%> <%= @user.lastname %> para el buz贸n "<%= @homework.name %></li>
</ul>

<h2>Viendo los archivos del usuario <%= @user.name%> <%= @user.lastname %> para el buz贸n <%= @homework.name %></h2>
<!-- Mostrar todos los archivos -->
<% if @archives.count > 0%>
<div class="accordion" id="accordion2">
	<% current = 0 %>
	<% @archives.each do |a| %>
		<% if a.version > current %>
			<% if current != 0 %>
				</div></div>
			<% end %>
			<div class="accordion-group">
			<div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= a.version%>" href="#collapse<%= a.version%>">
		        Versi贸n <%= a.version%>
				|
			<a href = "<%= "/shared_files/#{@homework.user_id}/#{@homework.id}/#{@user.id}/#{a.version}/zip" %>">Descargar zip </a>
		    </a>
		    </div>
		    <div id="collapse<%= a.version%>" class="accordion-body collapse">
		    	<div class="accordion-inner">
			        <a href="/shared_files/<%= @homework.user_id %>/<%= @homework.id %>/<%= @user.id %>/<%= a.version %>/<%= a.id %>"><%= a.name %></a>
			    </div>
			<% current = a.version%>
			<% else %>
			<div class="accordion-inner">
		        <a href="/shared_files/<%= @homework.user_id %>/<%= @homework.id %>/<%= @user.id %>/<%= a.version %>/<%= a.id %>"><%= a.name %></a>
		      </div>
			<% end %>
	<% end %>
</div>
<% else %>
Este usuario no ha subido archivos a esta tarea.
<% end %>