<h1>Viendo Buzones de Tareas</h1>

<table class="footable">
    <thead>
        <tr>
            <th data-class="expand">Nombre</th>
            <th data-hide="phone,tablet">Enunciado</th>
            <th data-hide="phone,tablet">Descripción</th>
            <th>¿Abierto?</th>
            <th data-hide="phone,tablet">Fecha Creación</th>
            <th data-hide="phone">Fecha Límite</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @homeworks.each do |homework| %>
            <tr>
                <td><%= homework.name %></td>
                <td><%= homework.filename %></td>
                <td>
                    <% if homework.description.length < 15 %>
                        <%= homework.description %>
                    <% else %>
                        <%= homework.description.first(15) %> ...
                    <% end %>
                    
                </td>
                <td>
                    <% if homework.active %>
                        Sí
                    <% else %>
                        No
                    <% end %>
                </td>
                <td><%= homework.created_at %></td>
                <td><%= homework.expires_at %></td>
                <td>
                    <a href = <%= url_for(homework) %> >
                        <i class="icon-eye-open"></i>
                    </a>
                    <% if session[:user_id] == homework.user_id %>
                        <span>|</span>
                        <a href = <%= url_for(edit_homework_path(homework)) %> >
                            <i class="icon-pencil"></i>
                        </a>
                        <span>|</span>
                        <a href = <%= url_for(homework) %> data-method="delete" class="delete_link">
                            <i class="icon-trash"></i>
                        </a>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<br />

<ul id="pagination" class="footable-nav"><span>Paginas:</span></ul>

<br />

<script type="text/javascript">
    $(function() {
        $('.footable').footable();
    });
  
    $(".delete_link").click(function(e){
        if(!confirm('¿Seguro que desea eliminar?'))
        {
            e.preventDefault();
            return false;
        }
    });
  
</script>