<ul class="breadcrumb">
  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
  <li class="active">Buzón <%= @homework.name %></li>
</ul>

<div class="content_centered">
	<div class="pull-right downloadText">
		<a href = "<%= "/shared_files/#{@homework.user_id}/#{@homework.id}/#{@homework.filename}" %>">
			<h3>Descargar Enunciado 
              	<img class="downloadImage" src="/download.png" />
       		</h3>
       	</a>
	</div>
	<h2><%= @homework.name %></h2>
		<% if (session[:user_id] == @homework.user_id) || (User.find(session[:user_id]).admin) %>
			<i class="icon-pencil"></i> <%= link_to 'Editar', edit_homework_path(@homework) %>
			<% if @homework.active && (@homework.expires_at > DateTime.now) %> |
			<i class="icon-share"></i> <%= link_to 'Invitar gente', "/homework/invite/#{@homework.id}" %> |
			<i class="icon-ban-circle"></i> <%= link_to 'Eliminar Invitados', "/homeworks/manageinvites/#{@homework.id}" %>
			<% end %>
		<% else %>
			<i class="icon-briefcase"></i> <%= link_to 'Ver mis archivos', "/homeworks/#{@homework.id}/viewfiles" %>
		<% end %>
	<hr>
	
	<%= @homework.description %>

	<hr>

	<table class="footable">
		<thead>
			<tr>
				<th data-class="expand">Profesor</th>
				<th data-hide="phone">¿Activo?</th>
				<th>Fecha de Entrega</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<% @user = User.find(@homework.user_id) %><%= @user.name%> <%= @user.lastname%>
				</td>
				<td>
					<% if @homework.active %>
						Sí
					<% else %>
						No
					<% end %>
				</td>
				<td><%= @homework.expires_at %></td>
			</tr>
		</tbody>	
	</table>

	<br />
	<br />

	<% if (session[:user_id] == @homework.user_id) || (User.find(session[:user_id]).admin) %>

		<h3>Entregas Alumnos</h3>
		<!-- Mostrar todos los invitados -->
		<% if @invitations.count > 0%>
		<table class="footable">
			<thead>
				<tr>
					<th data-class="expand">Correo Electronico</th>
				    <th data-hide="phone">Nombre</th>
				    <th data-hide="phone">Apellido</th>
				    <th></th>
				</tr>
			</thead>
			<tbody>
				<% @invitations.each do |invite| %>
				<% user = User.find(invite.user_id)%>
			  		<tr>
					    <td><%= user.email %></td>
					    <td><%= user.name %></td>
					    <td><%= user.lastname %></td>
					    <td>
							<%= link_to "Ver Archivos", "#{@homework.id}/viewfiles/#{user.id}" %>
						</td>
			  		</tr>
				<% end %>
			</tbody>
		</table>

		<br />

		<ul id="pagination" class="footable-nav"><span>Páginas:</span></ul>
		<% else %>
			No hay invitados a esta tarea. 
			<% if @homework.active && (@homework.expires_at > DateTime.now) %>
			Puede invitar <%= link_to 'aquí', "/homework/invite/#{@homework.id}" %>.
			<% end %>
		<% end %>

	<% else %>
		<div id="files_upload">
			<!-- Subir archivos -->
			<h3>Subir Archivos <%= button_tag "Agregar archivo adicional", :id => "add", :class => "btn btn-primary" %></h3>

			<%= form_tag("/homeworks/#{params[:id]}/upload", :multipart => true, :id => "form") do %>
				<div id = "extra_files">
					<%= file_field_tag 'file_1' %>
					<br/>
				</div>
				<%= hidden_field_tag "file_count", 1 %>
				<div class="field">
					<br />
					<%= image_tag("http://captchator.com/captcha/image/#{@random}") %>
					<%= text_field_tag(:captcha, nil, :required => true, :placeholder => "Captcha")  %>
					<%= hidden_field_tag(:captcha_random, @random) %>
					<%= hidden_field_tag(:captcha_random_hash, @random_hash) %>
					<br />
					<br />
				</div>
				<%= submit_tag "Subir archivo(s)", :class => "btn btn-inverse" %>
			<% end %>
			<!-- Fin subir archivos -->
		</div>
	<% end %>

</div>

<script>
	var file_count = 1;
	$("#add").click(function (e) {
		e.preventDefault();
		file_count++;
		document.getElementById("file_count").value = file_count;
		$("#extra_files").append('<input id="file_' + file_count + '" name= "file_' + file_count + '" type="file"><br/>');
		return false;
	});

	$(document).ready(function() {
		$('.footable').footable();

	    if( navigator.userAgent.match(/Android/i)
		 || navigator.userAgent.match(/webOS/i)
		 || navigator.userAgent.match(/iPhone/i)
		 || navigator.userAgent.match(/iPad/i)
		 || navigator.userAgent.match(/iPod/i)
		 || navigator.userAgent.match(/BlackBerry/i)
		 || navigator.userAgent.match(/Windows Phone/i)) {
			   
			$("#files_upload").empty();
			document.getElementById('files_upload').innerHTML = 'Lo sentimos, no está permitido subir archivos desde un dispositivo móvil.';
		}
		
		else {
			return false;
		}
	});
</script>
