<!DOCTYPE html>
<html>
	<head>
		<title>TareApp2</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">

	      	<div class="masthead">
	        	<ul class="nav nav-pills pull-right">
          			<li class="active"><%= link_to "Inicio", home_path %></li>
			        <li><a href="#">About</a></li>
			        <li><a href="#">Contact</a></li>

			        <% if session[:user_id] %>
						<li><%= link_to "Mi Perfil", "/profile/#{session[:user_id]}" %></li>
			        	<li><%= link_to "Cerrar Sesión", logout_path %></li>
			        <% end %>
        		</ul>
        		<h3 class="muted">TareApp 2</h3>
      		</div>

      		<hr>

			<%= yield %>

		</div>

	</body>
</html>
