<!DOCTYPE html>
<html>
	<head>
		<title>TareApp 2.0</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>


		<div class="container">

			<div class="navbar">
			   	<div class="navbar-inner">
		       		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		         		<span class="icon-bar"></span>
		         		<span class="icon-bar"></span>
		         		<span class="icon-bar"></span>
		       		</a>
					<%= link_to "TareApp 2.0", home_path, :class => "brand" %>
		       		<div class="nav-collapse collapse" id="main-menu">
		        		<ul class="nav pull-right" id="main-menu-right">
						
							<% if flash[:active_tab] == "home" %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
								<%= link_to "Inicio", home_path %>
							</li>
							
		        			<% if flash[:active_tab] == "about" %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
								<a href="#">About</a>
							</li>
		        			
							<% if flash[:active_tab] == "contact" %>
								<li class="active">
							<% else %>
								<li>
							<% end %>
								<a href="#">Contact</a>
							</li>

		        			<% if session[:user_id] %>
		        				<% if flash[:active_tab] == "profile" || flash[:active_tab] == "admin" || flash[:active_tab] == "homeworks"%>
									<li class="dropdown active" id="preview-menu">
								<% else %>
									<li class="dropdown" id="preview-menu">
								<% end %>
									<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= User.find(session[:user_id]).name + ' ' + User.find(session[:user_id]).lastname %><b class="caret"></b></a>
						            <ul class="dropdown-menu">
						              	<% if flash[:active_tab] == "profile" %>
											<li class="active">
										<% else %>
											<li>
										<% end %>
											<%= link_to "Mi Perfil", "/profile/#{session[:user_id]}" %></li>

										<% if User.find(session[:user_id]).admin %>
											<% if flash[:active_tab] == "admin" %>
												<li class="active">
											<% else %>
												<li>
											<% end %>
												<%= link_to "Administración", admin_path %>
											</li>
											<% if flash[:active_tab] == "homeworks" %>
												<li class="active">
											<% else %>
												<li>
											<% end %>
												<%= link_to "Ver Todos los Buzones", homeworks_path %>
											</li>
										<% end %>

										<li><%= link_to "Cerrar Sesión", logout_path %></li>
						            </ul>
						        </li>	
		        			<% end %>
		        		</ul>
		       		</div>
			   	</div>
			</div>

			<% if flash[:error] %>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button><%= flash[:error] %>
				</div>
			<% end %>
			<% if !notice.nil? %>
			<% flash[:succes] = notice %>
			<% end %>
			<% if flash[:succes] %>
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button><%= flash[:succes] %>
				</div>
			<% end %>
			<% flash[:succes] = nil%>
			<% notice = nil %>
			<div class="carmach">
				<%= yield %>
			</div>
			
			
		</div>
		
		
		
	</body>

</html>
